/* ==========================================================================
   Settings
   ========================================================================== */

/***************************************************************/
/***********************MEASUREMENTS****************************/
/***************************************************************/
$screen-width-medium:         	1028px;
$content-width-default:       	1028px;
$screen-width-default:        	1028px;
$screen-width-small:          	480px;

/***************************************************************/
/***************************COLORS******************************/
/***************************************************************/

$pink_shade:                    #b53fb4;
$violet_shade:                  #6c10a2;
$light_blue:                    #00a0d2;
$pale_gray_bg:                  #e2e2e2;
$pale_gray_border:              #bfbfbf;
$gray_40:                       #a29e9c;
$gray_50:                       #7b7b7b;
$gray_60:                       #424242;
$gray_75:                       #333333;
$deep_blue:                     #0a4195;
$dull_blue:                     #3b67aa;

